body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
}

#page {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 50px;
    height: 1000px;
}

table {
    width: 100%;
}

table, th, td {
    text-align: left;
    color: rgba(63, 58, 56, 1);
    font-size: 12px;
    padding-left: 15px;
    vertical-align: text-top;
    border: 5px solid red;
    border-collapse: collapse;
  }

#left-column {
    color: rgba(14, 65, 148, 1);
    text-align: right;
    font-size: 12px;
    padding-right: 15px;
    width: 180px;
}

#left-column-languages {
    text-align: right;
    padding-right: 15px;
}

#right-column-large-font {
    font-size: 17px;
    font-weight: 200;
    line-height: 25px;
}

#right-column-medium-font {
    font-size: 15px;
    color: rgba(14, 65, 148, 1);
}

#right-column-width {
    width: 500px;
}

ul {
    padding: 0;
    margin-left: 5px;
    margin-top: 0;
    list-style-type: "- ";
    list-style-position: inside;
}

#light-blue {
    color: rgba(21, 147, 203, 1);

}