body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
}

#page {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 50px;
    height: 1000px;
}

table, th, td {
    text-align: left;
    color: #3f3a38;
    font-size: 12px;
    padding-left: 15px;
    vertical-align: text-top;
  }

.left-column {
    color: #0e4194;
    text-align: right;
    font-size: 12px;
    padding-right: 15px;
    width: 180px;
}

.left-column-languages {
    text-align: right;
    padding-right: 15px;
}

.right-column-large-font {
    font-size: 17px;
    font-weight: 200;
    line-height: 25px;
}

.right-column-medium-font {
    font-size: 15px;
    color: #0e4194;
}

.right-column-width {
    width: 550px;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-right: 5px;
    list-style-type: "- ";
    list-style-position: inside;
}

.light-blue {
    color: #1593cb;
}

.foreign-languages {
    color: #0e4194;
    text-align: center;
    padding: 2px;
}

.foreign-languages1 {
    color: #0e4194;
    text-align: center;
    padding: 2px;
    width: 150px;
}

.foreign-languages2 {
    color: #0e4194;
    text-align: center;
    padding: 2px;
    width: 100px;
}

.padding-25 {
    padding-bottom: 25px;
    padding-top: 30px;
}   

.padding-0 {
    padding: 0;
}  

.padding-5 {
    padding-left: 5px;
} 

.padding-15 {
    padding-bottom: 15px;
}  

.padding-50 {
    padding-bottom: 50px;
} 

.language-level1 {
    width:92px; 
    text-align:center; 
    padding:0;
}

.language-level2 {
    width:56px; 
    text-align:center; 
    padding:0;
}

.language-level3 {
    width:137px; 
    text-align:center; 
    padding:0;
}

.language-level4 {
    width:66px; 
    text-align:center; 
    padding:0;
}

.language-level5 {
    width:105px; 
    text-align:center; 
    padding:0;
}

.logo-europass {
    content: '';
    background-image: url(images/europass.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 180px;
    height: 49px;
}

.icon-location {
    background-image: url(images/location.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-phone {
    background-image: url(images/phone.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.icon-mobile {
    background-image: url(images/mobile.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.icon-mail {
    background-image: url(images/mail.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
}

.icon-talk {
    background-image: url(images/talk.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 13px;
}

pre {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 12px;
}

.email {
    text-decoration: none;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #3f3a38;
    font-size: 12px;
    text-decoration: underline;
}

.blue-line {
    content: '';
    background-image: url(images/line.png);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    width: 450px;
    height: 11px;
}

.niveluri {
    color: #0e4194;
    font-size: 10px;
}

footer {
    font-size: 10px;
    margin: 0;
    width: 600px;
    padding-left: 30%;
    padding-top: 5%;
}

.footer1 {
    width: 400px;
    float: left;
}

.footer2 {
    width: 150px;
    float: left;
    text-align: right;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}

.europass {
    text-decoration: none;
    color: #1593cb;
}

.footer3 {
    padding-top: 57%;
}